<div>
    <h1 class="display-4" align="center">Mis Comentarios</h1>
</div>
{{> home/form-flash}}

<br>
<br>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Cuerpo</th>
                    <th>Publicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each comentarios as |comentario|}}
                    <tr>
                        <td>{{comentario.usuario.nombre}}</td>
                        <td>{{#truncar comentario.cuerpo 20 true}}{{/truncar}}</td>
                        <td><a href="/post/{{comentario.post.slug}}">{{comentario.post.titulo}}</a></td>
                        <!--
                        <td>
                                <input data-id="{{comentario.id}}"type="checkbox" {{#if comentario.aprobado}} checked {{/if}} name="permiteComentarios">
                        </td>
                        -->
                        <td>
                            <a href="" class="badge badge-info" data-toggle="modal" data-target="#editar{{comentario.id}}"><i class="fa fa-pencil"></i> Editar</a>
                            <a href="" class="badge badge-danger" data-toggle="modal" data-target="#eliminar{{comentario.id}}"><i class="fa fa-trash-o"></i> Eliminar</a>
                        </td>
                        
                        
                    </tr>

                    <!--MODAL PARA EDITAR EL COMENTARIO -->
                    <div class="modal fade" id="editar{{comentario.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Comentario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                                <form action="/admin/comentarios/editar/{{comentario.id}}?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <label for="cuerpo">Comentario</label>
                                            <!--<input name="cuerpo" type="text" class="form-control" id="nombre" placeholder="Ingresa aquí el nuevo texto" value="{{comentario.cuerpo}}">-->
                                            <textarea name="cuerpo" class="form-control" id="cuerpo" cols="30" rows="10">{{comentario.cuerpo}}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                        </div>
                                </form>    
                            </div>
                        </div>
                    </div>
                    </div>


                    <!-- MODAL BORRADO -->
                    <div class="modal fade" id="eliminar{{comentario.id}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="/admin/comentarios/eliminarComentario/{{comentario.id}}?_method=DELETE" method="POST">
                                            <div class="modal-header">
                                                <h5 class="modal-title">¿Está seguro de eliminar el comentario?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{comentario.cuerpo}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                    </div>
        <!-- FIN DEL MODAL BORRADO -->
                {{/each}}
            </tbody>   
        </table>



