   <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{post.titulo}}</h1>
          {{#if us}}
            <input type="hidden" name="aidi" id="aidi" value="{{us._id}}">
            <input type="hidden" name="slugpost" id="slugpost" value="{{post.slug}}">
          {{/if}}

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{post.usuario.nombre}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Publicado en {{post.fecha_creacion}}</p>

          <hr>

          <!-- Preview Image -->
          {{#ifCond post.archivo '==' 'http://via.placeholder.com/350x150'}}
                  <img height="300" src="{{post.archivo}}" alt="">
                {{else}}
                  <img height="300" src="/uploads/{{post.archivo}}" alt="">
          {{/ifCond}}

          <hr>

          <!-- Post Content -->
          <p class="lead">{{post.cuerpo}}</p>
          <hr>
          {{> home/form-flash}}
        {{#if us}}
            {{#if post.permitirComentarios}}
                <!-- Comments Form -->
                <div class="card my-4">
                  <h5 class="card-header">Deja un comentario:</h5>
                  <div class="card-body">
                    <form action="/admin/comentarios/enviarComentario" method="POST">
                      <div class="form-group">
                        <input type="hidden" name="id" value="{{post.id}}">
                        <textarea name="cuerpo" class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
                </div>
            {{else}}
              <hr>
              <br>
              <h2>Los comentarios han sido desactivados para esta publicación.</h2>
              <br>
              <hr>
            {{/if}}
        {{else}}
          <h2>Tienes que iniciar sesión para dejar un comentario.</h2>
          <br>
        {{/if}}

        {{#each comentarios as |comentario|}}
          <!-- Single Comment -->
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{comentario.usuario.nombre}}</h5>
                <p>{{comentario.cuerpo}}</p>
                <a href="" data-toggle="modal" data-target="#respuesta{{comentario.id}}" class="badge badge-primary" style="float:right;">Responder</a>
                {{#each comentario.respuestas as |respuesta|}}
                    <div class="media mt-4">
                      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                      <div class="media-body">
                        <h5 class="mt-0">{{respuesta.usuario.nombre}}</h5>
                        <p>{{respuesta.contenido}}</p>
                        
                      </div>
                    </div>
                {{/each}}
              </div>
            </div>
            <hr>

            
            <div class="modal fade" id="respuesta{{comentario.id}}" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Respuesta para comentario: <span style="color:blue;">{{comentario.cuerpo}}</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                                <form action="/admin/respuestas/publicar" method="POST">
                                        <div id="forma" class="form-group">
                                            <label for="respuesta">Respuesta:</label>
                                            <input type="hidden" name="comentarioid" id="comentarioid" value="{{comentario.id}}">
                                            <input name="contenido" type="text" class="form-control" id="contenido">
                                            <input name="usuariologueado" type="hidden" class="form-control">
                                            <input type="hidden" name="slugg">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button onClick="getData()" type="submit" class="btn btn-primary">Responder</button>
                                        </div>
                                </form>    
                            </div>
                        </div>
                      </div>
            </div>
            

        {{/each}}
        

          <!-- Comment with nested comments -->
          <!--
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>

            </div>
          </div>
          -->
          

        </div>

        <!-- Sidebar Widgets Column -->
        {{> home/sidebar}}
      <!-- /.row -->

    </div>

<!--MODAL PARA EDITAR EL COMENTARIO -->
<script src="/js/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      let ui = $("#aidi").val();
      let s = $("#slugpost").val();
      //$("#forma").append(`<input type="text" name="usuariologueado" id="usuariologueado" value="${ui}">`);
      $("input[name=usuariologueado]").val(ui);
      $("input[name=slugg]").val(s);
    });
  /*
  $(document).ready(function(){
    let ui = $("#aidi").val();
    $("#userlogueado").val(ui);
    let usuarioo = $("#userlogueado").val();
    console.log(usuarioo);
  });
  */
  
  /*
  var getData = function(){
    
    let ui = $("#aidi").val();
    let slug_post = $("#slugpost").val();
    $('#userlogueado').val(ui);
    $('#slugg').val(slug_post);
    let usuarioo = $('#userlogueado').val();
    let sl = $('#slugg').val();
    console.log(ui);
    console.log(slug_post);
    
    let ui  $("#aidi").val();
    $("#forma").append(`<input type="text" name="usuariologueado" id="usuariologueado" value="${ui}"`);
    
    let ui = $("#aidi").val();
    $('#usuariologueado').val(ui);
    let o = $("#usuariologueado").val();
    console.log(o);
    
  }
  */
</script>